.hero {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.hero__link {
  font-size: 4rem;
  background-clip: text;
  background-image: linear-gradient(to right, #338cf5, #4fd1c5);
  color: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    text-decoration: none;
    background-image: linear-gradient(to right, #338cf5, #4fd1c5);
    color: transparent;
  }
}

.hero__link_image {
  display: inline-block;
  width: 100%;
  max-width: 400px;
}
