.topbar {
  z-index: 20;
  position: relative;
  height: 58px;
  background-color: #fff;
  border-bottom: 1px solid #eaecef;
  padding: 11px 24px;
}

.topbar__brand_link {
  font-weight: 500;
  overflow-wrap: break-word;
}

.topbar__brand_link:hover,
.topbar__brand_link:focus {
  text-decoration: none;
}

.topbar__brand_image {
  height: 35px;
  margin-right: 11px;
  vertical-align: top;
}

.topbar__brand_text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #2c3e50;
  position: relative;
}

.footer {
  padding: 1rem;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__col_spacer {
  padding: 0 0.75rem;
}

.footer__note {
  font-size: 0.875rem;
  text-align: center;
}

.hero {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.hero__link {
  font-size: 5rem;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to right, #338cf5, #4fd1c5);
  color: transparent;
}

.hero__link:hover,
.hero__link:focus {
  text-decoration: none;
  background-image: linear-gradient(to right, #338cf5, #4fd1c5);
  color: transparent;
}

body {
  margin: 0;
  position: relative;
}

.main {
  padding: 40px 0;
  min-height: calc(100vh - 58px - 93px);
}

.eid-button {
  height: 50px;
}

